<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Hello! You!</title>
	<link rel="icon" type="image/x-icon" href="Logos/hello.png"> 
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway|Caveat Brush'>
    <link rel="stylesheet" href='css/style.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="showcase" id="background7">
		<header>
			<h2><a href="/explore">HELLO! YOU!</a></h2>		
			<div class="menu"> 
				<ul class="social">
				<li><a href="http://twitter.com/Shuyaowang1"><img src="Logos/twitter.png" alt=""></a></li>
				<li><a href="http://www.facebook.com/Helloyouproject-107131141996504"><img src="Logos/facebook.png" alt=""></a></li>
				<li><a href="http://www.instagram.com/shuyao14/"><img src="Logos/instagram.png" alt=""></a></li>
			  </ul></div>
		</header>
		<div class="text">
			<h1><%- title %></h1><br>
			<p><b>Weather: <%- weather %></b></p><br>
			<p><b>Location: <%- location %></b></p><br>
			<p><b>Date: <%- date %></b></p><br>
			<p><b>moods &#11088;: <%- moods %></b></p><br>
			<p><b><%- records %></b></p><br>
			<a href="/explore">GO BACK</a>
		</div>
		<div class="source">
            <p>Developed by: Shuyao Wang, Image: <a href="http://www.pexels.com/photo/four-macaroons-808941/">PEXELS</a></p> 
        </div>
		
	</div>
</body>

</html>
